<!-- <?php

return array(
    'baseUrl' => 'http://kptask.local',
        'redirectUri' => '/user/index',
        'db' => [
            'host' => '127.0.0.1',
            'name' => 'kptask',
            'user' => 'root',
            'pass' => 'rootpass'
        ],
    'timezone' => 'Europe/Belgrade',
); -->
