{% extends 'layout/layout.twig'%}
{% block content %}

<div id="page-container" class="st-page-container">
    <div id="page-content-wrapper" class="st-page-content-wrapper">
        <div class="st-section-container">

            <hr />

            <p>Below is my message: </p>

            <p>{{ message }}</p>

            <hr />

            <p>Test user :</p>
            <p>Username: test@example.com</p>
            <p>Password: testtest</p>

        </div>
    </div>
</div>

{% endblock %}