<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Core\\Tests">
            <directory>./src/Core/test</directory>
        </testsuite>
        <testsuite name="User\\Tests">
            <directory>./src/User/test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/Core/src</directory>
            <directory suffix=".php">./src/User/src</directory>
        </whitelist>
    </filter>
</phpunit>
