{% extends 'layout/layout.twig'%}
{% block content %}

<div id="page-container" class="st-page-container">
    <div id="page-content-wrapper" class="st-page-content-wrapper">
        <div class="st-section-container">

         <p>Welcome user !</p>

         <ul>
              <li><a href="/user/index">User management</a></li>
         </ul>

        </div>
    </div>
</div>

{% endblock %}








