{% extends 'layout/layout.twig'%}
{% block content %}

<h1>Error 500; Internal server error occurred.</h1>

<p>I'm sorry, there was a server error, and I cannot continue.</p>

<p>Error message received was: <br /> {{ error }} </p>

<p>Additional stack trace: {{ dump(trace) }} </p>

{% endblock %}